.modal__container {
    position: fixed;
    padding: 30px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 370px;
    height: auto;
    padding: 23px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.modal form {
    margin-top: 20px;
    width: 100%;
}

.btn {
    padding: 15px 16px;
    border-radius: 5px;
    border: none;
}

.btn.primary {
    background-color: var(--submit);
    color: white;
}

.modal__footer {
    display: flex;
    gap: 10px;
}

.modal__footer > * {
    flex: 1;
}

.modal__title {
    font-size: 19px;
    font-weight: 800;
}

.modal__description {
    color: grey;
    margin: 0.7em 0 2.5em 0;
    font-size: 13px;
}

@media (max-width: 400px) {
    .modal {
        width: 100%;
    }
    .modal__container {
        padding: 5px;
    }
}