.input__group {
    display: flex;
    align-items: center;
    padding: 3px 20px;
    border-radius: 5px;
    background-color: var(--body);
}

.input__group > * {
    background-color: var(--body);
    height: 100%;
}

.input__group input {
    border: none;
    width: 400px;
    padding: 10px 20px;
}

input:focus {
    outline: none;
}

.button--svg {
    border: none;
}

button:hover {
    cursor: pointer;
}