.sidebar__container {
    width: 250px;
}

.sidebar__item {
    padding: 10px 30px 10px 0;
    margin-bottom: 10px;
    border-radius: 0 200px 200px 0;
    display: flex;
    align-items: center;
}

.sidebar__item.active {
    background-color: var(--primary);
}

.sidebar__item > * {
    color: var(--text-color);
}

.sidebar__item svg {
    margin: 0 35px;
}

.sidebar__text {
    font-size: 12px;
    font-weight: 500;
}